    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <!--<div class="col-lg-8 col-lg-offset-2">-->
                <!--<a href="https://bnc.lt/lets-get-cheeky"> <img src="http://i.imgur.com/Mx6kE8V.jpg"> </a>-->
                <br>
                <h2>Let's get Cheeky</h2>
               <!-- <iframe width="560" height="315" src="//www.youtube.com/embed/{{ site.youtubeId }}" frameborder="0" allowfullscreen></iframe> -->
                <p>Use your mouse or tilt your phone to check out these Cheeky Chats: </p>
                <div class="column-left">
                    <div id="cheek4" style="width: 270px; height: 480px; display:inline-block;"></div>
                </div>

                <div class="column-center">
                   <div id="cheek5" style="width: 270px; height: 480px; display:inline-block;"></div> 
                </div>
             
                <div class="column-right">  
                   <div id="cheek6" style="width: 270px; height: 480px; display:inline-block;"></div>
                </div>
                
                <!--<a href="https://bnc.lt/lets-get-cheeky" class="btn btn-low btn-lg">Get it now!</a>-->
            </div>
        </div>
    </section>