    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <!--<div class="col-lg-8 col-lg-offset-2">-->
                <!--<a href="https://bnc.lt/lets-get-cheeky"> <img src="http://i.imgur.com/Mx6kE8V.jpg"> </a>-->
                <br>
                <br>
                <br>
                <h2>SQUAD UP IN A FLASH</h2>
               <!-- <iframe width="560" height="315" src="//www.youtube.com/embed/{{ site.youtubeId }}" frameborder="0" allowfullscreen></iframe> -->
                <p>Do you want to see your friends more?</p>
                <div class="column-left">
                    <img src="//aborczuk.github.io//img/firstAbout.png" height ="480" width = "auto">
                </div> 

                <div class="column-center">
                   <img src="//aborczuk.github.io//img/secondAbout.png" height ="480" width = "auto">
                </div>
             
                <div class="column-right">  
                    <img src="//aborczuk.github.io//img/thirdAbout.png" height ="480" width = "auto">
                </div>
                
                <!--<a href="https://bnc.lt/lets-get-cheeky" class="btn btn-low btn-lg">Get it now!</a>-->
            </div>
        </div>
    </section>