    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">Cheeky Chat</h1>
                        <p class="intro-text">Messages that Move</p>
                       <!-- <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a> -->
                        <a href="https://bnc.lt/lets-get-cheeky" class="btn btn-default btn-lg">Download it now!</a> <br>
                        <a href="https://www.producthunt.com/tech/cheeky-chat" class="product-hunt">Top 5 Hunt on Product Hunt!</a>
                            <video loop muted autoplay poster="//cheekychat.co/img/start.jpg" class="fullscreen-bg__video">
                                <source src="//cheekychat.co/img/cheeky.webm" type="video/webm">
                            </video>
                    </div>
                </div>
            </div>
        </div>
    </header>
