    <!-- Team Section -->
    <section id="team" class="content-section text-center">
        <div class="team-section">
          <h2>Team</h2>
          <!--  <div class="column-left">
              <div id="andre">
                  <b>Andre Borczuk</b> | @dreborc<br/>The future is around the corner. Meet me there.
               </div> 
              <div id="cheek1" style="width: 270px; height: 480px; display:inline-block;"></div>
            </div> -->

          <!--  <div class="column-center"> -->
               <div id="andrew">
                  <b>Andrew Hitti</b> | @aahitti<br/>Restless with what is, working towards what can be
               </div>
                <img src="//aborczuk.github.io/img/team.png" height ="480" width = "auto">
          <!--  </div> -->
             
          <!--  <div class="column-right">  
               <div id="alex">
                  <b>Alex Vaccarino</b> | @a_pacarino<br/>The sky is the limit
               </div>
               <div id="cheek3" style="width: 270px; height: 480px; display:inline-block;"></div>
            </div> -->
        </div>
    </section>
